.venv/
.env

assets/bag_of_silver.png
assets/gear.png
assets/killer_mewing.png
assets/jackass.png
assets/killer.png
assets/killer_mogs.png
assets/mogged.png
assets/moggedlul.png
.vscode/*
DESIGN.md
sample.txt
fix_darkmode_colors.py
*.txt