{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <!--FIRST COLUMN [KILLER]-->
        {% for event in events %}
        <div class="col-md-6 pe-md-4 mb-4 mb-md-0">
            <h6>Killer 🩸: 
                <a href="{{ url_for('player', player_id=event.Killer.Id) }}" class="killer-link">
                    {{event.Killer.Name}}
                </a>
            </h6>
            <h6>Guild 🏰: {{event.Killer.GuildName}}</h6>
            <h6>KillFame 😍: {{event.Killer.KillFame}}</h6>            
            <div class="row row-cols-3 shadow  bg-light">
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                       {% if event.Killer.Equipment.Bag.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Bag.Type }}.png?count=1&quality={{event.Killer.Equipment.Bag.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.Head.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Head.Type }}.png?count=1&quality={{event.Killer.Equipment.Head.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.Cape.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Cape.Type }}.png?count=1&quality={{event.Killer.Equipment.Cape.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.MainHand.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.MainHand.Type }}.png?count=1&quality={{event.Killer.Equipment.MainHand.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.Armor.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Armor.Type }}.png?count=1&quality={{event.Killer.Equipment.Armor.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.OffHand.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.OffHand.Type }}.png?count=1&quality={{event.Killer.Equipment.OffHand.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.Potion.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Potion.Type }}.png?count=1&quality={{event.Killer.Equipment.Potion.Quality}}">
                        <h6 class="text-center pe-mb-4">{{event.Killer.Equipment.Potion.Count}}</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.Shoes.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Shoes.Type }}.png?count=1&quality={{event.Killer.Equipment.Shoes.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        {% if event.Killer.Equipment.Food.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Food.Type }}.png?count=1&quality={{event.Killer.Equipment.Food.Quality}}" >
                        <h6 class="text-center pe-mb-4">{{event.Killer.Equipment.Food.Count}}</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(145, 100%, 50%, 0.226);">
                        <img src="https://render.albiononline.com/v1/item/{{ event.Killer.Equipment.Mount.Type }}.png?count=1&quality={{event.Killer.Equipment.Mount.Quality}}">
                    </div>
                </div>
            </div>
            <!--PARTICIPANTS-->
            <hr>
            <h6>Participants</h6>
                {% for i in event.Participants %}
                    {% if i.Name != event.Killer.Name %}
                    <div class="row shadow border mb-1"> 
                        <h6>Name: 
                            <a href="{{ url_for('player', player_id=i.Id) }}" class="text-decoration-none text-dark">
                                {{i.Name}}
                            </a>
                        </h6>
                        <h6>Guild 🏰:{{i.GuildName}}</h6>
                        {% if i.DamageDone != 0 %}
                            <p class="h6">Damage⚔️ :{{i.DamageDone}}</p>
                        {% endif %}
                        {% if i.SupportHealingDone != 0 %}
                            <p class="h6">Healing 🍃: {{i.SupportHealingDone}}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}

        </div>
        <!--SECOND COLUMN [VICTIM]-->
        <div class="col-md-6 ps-md-4">
            <h6>Victim💀: 
                <a href="{{ url_for('player', player_id=event.Victim.Id) }}" class="victim-link">
                    {{event.Victim.Name}}
                </a>
            </h6>
            <h6>Guild 🏰: {{event.Victim.GuildName}}</h6>
            <h6>DeathFame 😭: {{event.Victim.DeathFame}}</h6>
            <div class="row row-cols-3 shadow bg-light">
                <div class="col">
                        <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                            {% if event.Victim.Equipment.Bag.Type %}
                            <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Bag.Type }}.png?count=1&quality={{event.Victim.Equipment.Bag.Quality}}">
                            {% endif %}
                        </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.Head.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Head.Type }}.png?count=1&quality={{event.Victim.Equipment.Head.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.Cape.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Cape.Type }}.png?count=1&quality={{event.Victim.Equipment.Cape.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.MainHand.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.MainHand.Type }}.png?count=1&quality={{event.Victim.Equipment.MainHand.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.Armor.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Armor.Type }}.png?count=1&quality={{event.Victim.Equipment.Armor.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.OffHand.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.OffHand.Type }}.png?count=1&quality={{event.Victim.Equipment.OffHand.Quality}}">
                        {% else %}
        
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.Potion.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Potion.Type }}.png?count=1&quality={{event.Victim.Equipment.Potion.Quality}}">
                        <h6 class="text-center pe-mb-4">{{event.Victim.Equipment.Potion.Count}}</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.Shoes.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Shoes.Type }}.png?count=1&quality={{event.Victim.Equipment.Shoes.Quality}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.Food.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Food.Type }}.png?count=1&quality={{event.Victim.Equipment.Food.Quality}}">
                        <h6 class="text-center pe-mb-4">{{event.Victim.Equipment.Food.Count}}</h6>       
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item" style="background-color: hsla(0, 80%, 43%, 0.493);">
                        {% if event.Victim.Equipment.Mount.Type %}
                        <img src="https://render.albiononline.com/v1/item/{{ event.Victim.Equipment.Mount.Type }}.png?count=1&quality={{event.Victim.Equipment.Mount.Quality}}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <!-- INVENTORY VICTIM -->
            <h6 class="d-flex justify-content-between align-items-center">
                <span>Inventory</span>
                <span class="text-danger">Total Estimated Loss 💰 (Gear + Inventory) > {{ "{:,}".format(estimated_loss) }} 🤣</span>
            </h6>
            <div class="container border shadow">
                <div class="row">
                    {% for i in event.Victim.Inventory %}
                        {% if i %}
                            <div class="col-sm-2">
                                <div class="image-container" style="position: relative;">
                                    <img src="https://render.albiononline.com/v1/item/{{ i.Type }}.png?count=1&quality={{i.Quality}}">
                                    <div style="position: absolute; bottom: 0; left: 0; color: rgb(0, 0, 0); background-color: hsla(0, 0%, 100%, 0.418); padding: 5px;">
                                        {{i.Count}}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if loop.index % 6 == 0 %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}